.navbar {
	background-color: rgba(255, 255, 255, 0.952941);
}
.l-offset-side-nav {
	padding-left: 240px;
}
.l-offset-nav {
	padding-top: 56px;
}
@media handheld and (max-width:480px), screen and (max-device-width:480px), screen and (max-width:800px) {
	.l-offset-side-nav {
		padding-left: 0px;
	}
}