
    <table class="table table-sm">
    <thead>
      <tr>
        <th>Item</th>
        <th>New</th>
        <th>Inqueue</th>
        <th>Processing</th>
        <th>Exception</th>
        <th>NoNeedUpload</th>
        <th>Success</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of synclog" >
        <td class="{{x.Exception>0?'label-danger':''}}">{{x.dataName}}</td>
        <td class="{{x.New>0?'label-warning':''}}">{{x.New==null?0:x.New}}</td>
        <td class="{{x.Inqueue>0?'label-primary':''}}">{{x.Inqueue==null?0:x.Inqueue}}</td>
        <td class="{{x.Processing>0?'label-primary':''}}">{{x.Processing==null?0:x.Processing}}</td>
        <td class="{{x.Exception>0?'label-danger':''}}">{{x.Exception==null?0:x.Exception}}</td>
        <td>{{x.NoNeedUpload==null?0:x.NoNeedUpload}}</td>
        <td>{{x.UpdateSuccess}}</td>
      </tr>
    </tbody>
  </table>