<header class="navbar navbar-light navbar-fixed-top">
	<nav>
		<a class="navbar-brand" href="#/">bn app</a>
		<ul class="nav navbar-nav">
			<li class="nav-item" *ngFor="let navItem of navItems">
				<a class="nav-link" [routerLink]="[navItem.route]">{{navItem.name}}</a>
			</li>
		</ul>
	</nav>
</header>

<nav class="sidenav l-pinned-left">
	<ul class="sidenav-links">
		<li class="sidenav-section no-border">
			<a href="/docs/ts/latest/" class="nav-title">文档首页</a>
		</li>
		<!-- CORE DOCUMENTATION-->
		<li class="sidenav-section-divider">
			<div>核心文档</div>
		</li>
		<li class="sidenav-section">
			<a href="/docs/ts/latest/quickstart.html" title="Angular快速起步" class="nav-title ">快速起步</a>
		</li>
		<li class="sidenav-section">
			<a href="/docs/ts/latest/guide/" title="如何阅读本文档" class="nav-title is-parent ">
				开发指南
				<img src="/resources/images/icons/ic_keyboard_arrow_down_black_24px.svg" class="inline-arrow-down-svg"></a>
			<div class="nav-ordered-lists is-hidden">
				<ul>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/guide/" title="如何阅读本文档">1. 概览</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/guide/architecture.html" title="Angular应用的基本构造块">2. 架构</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/guide/displaying-data.html" title="属性绑定机制把数据显示到UI上。">3. 显示数据</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/guide/user-input.html" title="用户输入触发DOM事件。我们通过事件绑定来监听它们，把更新过的数据导入回我们的组件和model。">4. 用户输入</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/guide/forms.html" title="表单创建一个有机、有效、引人注目的数据输入体验。Angular表单协调一组数据绑定控件，跟踪变更，验证输入的有效性，并且显示错误信息。">5. 表单</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/guide/dependency-injection.html" title="Angular的依赖注入系统能够JIT(刚好及时)的创建和交付所依赖的服务。">6. 依赖注入</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/guide/template-syntax.html" title="学习如何写模板来显示数据，以及在数据绑定的帮助下响应用户事件。">7. 模板语法</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/guide/cheatsheet.html" title="一份Angular语法的快速指南">8. Angular小抄</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/guide/style-guide.html" title="如何写Angular风格的程序">9. 风格指南</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/guide/glossary.html" title="Angular中最重要的词汇的简要定义">10. 词汇表</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/guide/change-log.html" title="最新文档更新历史记录。">11. 更新记录</a>
					</li>
				</ul>
			</div>
		</li>
		<li class="sidenav-section no-border">
			<a href="/docs/ts/latest/api/" title="API参考手册" class="nav-title ">API参考手册</a>
		</li>
		<!-- ADVANCED DOCUMENATION-->
		<li class="sidenav-section-divider">
			<div>附加文档</div>
		</li>
		<li class="sidenav-section">
			<a href="/docs/ts/latest/tutorial/" title="英雄指南教程带我们一步步使用TypeScript创建Angular应用。" class="nav-title is-parent is-selected">
				教程<span class="glyphicon glyphicon-arrow-down"></span></a>
			<div class="nav-ordered-lists">
				<ul>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/tutorial/" title="英雄指南教程带我们一步步使用TypeScript创建Angular应用。">1. 简介</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/tutorial/toh-pt1.html" title="我们构建一个简单的英雄编辑器">2. 英雄编辑器</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/tutorial/toh-pt2.html" title="我们构建一个主从结构的页面，用于展现英雄列表">3. 主从结构</a>
					</li>
					<li class="nav-list-item is-selected">
						<a href="/docs/ts/latest/tutorial/toh-pt3.html" title="我们把主从结构的页面重构成多个组件">4. 多个组件</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/tutorial/toh-pt4.html" title="我们创建一个可复用的服务来调用英雄的数据">5. 服务</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/tutorial/toh-pt5.html" title="我们添加Angular路由，并且学习在视图之间导航">6. 路由</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/tutorial/toh-pt6.html" title="把我们的服务和组件改为用Angular的HTTP服务实现">7. HTTP</a>
					</li>
				</ul>
			</div>
		</li>
		<li class="sidenav-section">
			<a href="/docs/ts/latest/guide/ngmodule.html" title="用@NgModule定义应用中的模块" class="nav-title is-parent ">
				高级文档
				<img src="/resources/images/icons/ic_keyboard_arrow_down_black_24px.svg" class="inline-arrow-down-svg"></a>
			<div class="nav-unordered-lists is-hidden">
				<ul>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/guide/ngmodule.html" title="用@NgModule定义应用中的模块" class="translated-cn">Angular 模块（ NgModule ）</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/guide/animations.html" title="Angular动画系统指南。" class="translated-cn">动画</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/guide/attribute-directives.html" title="属性型指令把行为添加到现有元素上。" class="translated-cn">属性型指令</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/guide/browser-support.html" title="浏览器支持与填充（Polyfill）指南" class="translated-cn">浏览器支持</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/guide/component-styles.html" title="学习如何给组件应用CSS样式。" class="translated-cn">组件样式</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/guide/hierarchical-dependency-injection.html" title="Angular的多级依赖注入系统支持与组件树并行的嵌套式注入器。" class="translated-cn">多级注入器</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/guide/server-communication.html" title="通过HTTP客户端与远程服务器对话。" class="translated-cn">HTTP 客户端</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/guide/lifecycle-hooks.html" title="Angular调用指令和组件的生命周期钩子函数，包括它的创建、变更和销毁时。" class="translated-cn">生命周期钩子</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/guide/npm-packages.html" title="推荐的npm包以及如何指定所依赖的包" class="translated-cn">Npm 包</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/guide/pipes.html" title="管道可以在模板中转换显示的内容。" class="translated-cn">管道</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/guide/router.html" title="揭示如何通过Angular路由进行基本的屏幕导航。" class="translated-cn">路由与导航</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/guide/security.html" title="开发“内容安全”的Angular应用。" class="translated-cn">安全</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/guide/structural-directives.html" title="Angular有一个强力的模板引擎，它能让你轻松维护元素的DOM树结构。" class="translated-cn">结构型指令</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/guide/testing.html" title="Angular应用的测试技术与实践。" class="translated-cn">测试</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/guide/typescript-configuration.html" title="Angular开发者的TypeScript配置" class="translated-cn">TypeScript 配置</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/guide/upgrade.html" title="Angular 1应用可以逐步升级到Angular 2。" class="translated-cn">从 1.x 升级</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/guide/webpack.html" title="使用基于Webpack的工具创建Angular应用" class="translated-cn">Webpack 简介</a>
					</li>
				</ul>
			</div>
		</li>
		<li class="sidenav-section">
			<a href="/docs/ts/latest/cookbook/" title="一组常见Angular应用场景的“烹饪宝典”" class="nav-title is-parent ">
				烹饪宝典
				<img src="/resources/images/icons/ic_keyboard_arrow_down_black_24px.svg" class="inline-arrow-down-svg"></a>
			<div class="nav-unordered-lists is-hidden">
				<ul>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/cookbook/" title="一组常见Angular应用场景的“烹饪宝典”" class="translated-cn">概览</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/cookbook/aot-compiler.html" title="学习如何使用预编译器" class="translated-cn">预（ AoT ）编译器</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/cookbook/a1-a2-quick-reference.html" title="学习如何把Angular 1中的概念和技术对应到Angular 2中" class="translated-cn">Angular 从 1 到 2 快速参考</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/cookbook/ngmodule-faq.html" title="对@NgModule常见问题的解答" class="translated-cn">Angular 模块常见问题</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/cookbook/component-communication.html" title="在不同的指令和组件之间共享信息" class="translated-cn">组件通讯</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/cookbook/component-relative-paths.html" title="为组件的模板和样式指定相对于组件的路径" class="translated-cn">相对于组件的路径</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/cookbook/dependency-injection.html" title="依赖注入技术" class="translated-cn">依赖注入</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/cookbook/dynamic-form.html" title="用FormGroup渲染动态表单" class="translated-cn">动态表单</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/cookbook/form-validation.html" title="验证用户在表单中的输入" class="translated-cn">表单验证</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/cookbook/i18n.html" title="把应用的模板文本翻译成多种语言" class="translated-cn">国际化 (i18n)</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/cookbook/set-document-title.html" title="使用Title服务来设置文档标题或窗口标题" class="translated-cn">设置文档标题</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/cookbook/ts-to-js.html" title="把Angular的TypeScript范例转换为ES5 JavaScript" class="translated-cn">从 TypeScript 到 JavaScript</a>
					</li>
					<li class="nav-list-item ">
						<a href="/docs/ts/latest/cookbook/visual-studio-2015.html" title="使用Visual Studio 2015快速起步" class="translated-cn">Visual Studio 2015 快速起步</a>
					</li>
				</ul>
			</div>
		</li>
	</ul>
</nav>