<header class="navbar navbar-light navbar-fixed-top">
	<nav>
		<a class="navbar-brand" href="#/">bn app</a>
		<ul class="nav navbar-nav">
			<li class="nav-item" *ngFor="let navItem of navItems">
				<a class="nav-link" [routerLink]="[navItem.route]">{{navItem.name}}</a>
			</li>
		</ul>
	</nav>
</header>

<nav class="sidenav l-pinned-left">
	<ul class="sidenav-links">
		<template ngFor let-menu [ngForOf]="sideNavItems">
			<li *ngIf="menu.groupName!=''"  class="sidenav-section-divider">
				<div>{{menu.groupName}}</div>
			</li>
			<li *ngIf="menu.isParent==false" class="sidenav-section no-border">
				<a [routerLink]=menu.link class="nav-title">{{menu.name}}</a>
			</li>
			<li *ngIf="menu.isParent==true" class="sidenav-section">
				<a title="如何阅读本文档" class="nav-title is-parent ">
					{{menu.name}}
					<img src="/resources/images/icons/ic_keyboard_arrow_down_black_24px.svg" class="inline-arrow-down-svg"></a>
					 <!-- is-hidden -->
				<div class="nav-ordered-lists">
					<ul>
						<li *ngFor="let subm of menu.subItems" class="nav-list-item ">
							<a [routerLink]=menu.link  title="如何阅读本文档">{{subm.name}}</a>
						</li>
					</ul>
				</div>
			</li>
		</template>
	</ul>
</nav>